#### 1. Importing all packages

In [576]:
# External
import numpy as np
import pandas as pd
import re

#### 2. Importing  a CSV file

In [577]:
df = pd.read_csv("data/RAW/Data_Engineer_06-03-2023_23-41.csv")
df.head()

,Company_name,Rating,Location,Job_title,Description,Salary,Job_age,Easy_apply,Employees,Type_of_ownership,...,CEO_approval,Career_opportunities,Comp_&_benefits,Culture_&_values,Senior_management,Work/Life_balance,Pros,Cons,Benefits_rating,Benefits_reviews
0,Infoway solutions LLC,3.9,"Santa Clara, CA",Data Engineer,Need min 10+ Years exp\nData Engineer\nBay Are...,Employer Provided Salary:$68.00 Per Hour,3d,True,NaN,Company - Private,...,0.84,4.0,3.9,4.0,3.7,3.9,"['""Nice and friendly work environment"" (in 1 r...",['No Cons have been reported by the Glassdoor ...,2.2,NaN
1,Optimal Inc.,3.6,"Dearborn, MI",Data Engineer - Terraform,Position Description:\nThe GDIA Data Factory P...,$63K - $90K (Glassdoor est.),12d,True,1 to 50,Nonprofit Organization,...,0.78,3.2,3.7,3.3,2.6,4.5,['No Pros have been reported by the Glassdoor ...,"['""Antisocial and downright rude CEO, callous ...",5.0,NaN
2,Strivernet RPO Services Ltd,NaN,"Santa Clara, CA",Data Engineer,"(W2 CANDIDATES ONLY) (SANTA CLARA, CA)\nPLEASE...",Employer Provided Salary:$90.00 - $95.00 Per Hour,5d,True,NaN,Company - Public,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Futuretech Consultants LLC,NaN,"Newton, MS",Snowflake Data Engineer,My name is Dileep and I am a recruiter at Futu...,Employer Provided Salary:$40.00 - $45.00 Per Hour,30d+,True,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Clairvoyant,4.4,Remote,Data Engineer (MDM),Required Skills:\nMust have 5-8+ Years of expe...,Employer Provided Salary:$65.00 - $70.00 Per Hour,12d,True,51 to 200,Company - Private,...,0.87,4.1,4.2,3.9,4.1,4.0,"['""Benefits, compensation, clean work environm...",['No Cons have been reported by the Glassdoor ...,NaN,NaN

In [578]:
df.columns

Index(['Company_name', 'Rating', 'Location', 'Job_title', 'Description',
       'Salary', 'Job_age', 'Easy_apply', 'Employees', 'Type_of_ownership',
       'Sector', 'Founded', 'Industry', 'Revenue_USD', 'Friend_recommend',
       'CEO_approval', 'Career_opportunities', 'Comp_&_benefits',
       'Culture_&_values', 'Senior_management', 'Work/Life_balance', 'Pros',
       'Cons', 'Benefits_rating', 'Benefits_reviews'],
      dtype='object')

#### 3. Remove rows only with NaNs

In [579]:
df = df.dropna(how='all')
df.shape

(900, 25)

There is no empty rows

#### 4. Remove duplicates

In [580]:
df = df.drop_duplicates()
df.shape

(220, 25)

There is huge amount of duplicates. But this is the feature of glassdoor

#### 5. Remove empty columns

In [581]:
df = df.dropna(axis=1, how='all')
df.shape

(220, 25)

There is no empty columns

#### 6. Now we will split `Location` column into `State` and `City`.

In [582]:
df['Location'].head()

0    Santa Clara, CA
1       Dearborn, MI
2    Santa Clara, CA
3         Newton, MS
4             Remote
Name: Location, dtype: object

In [583]:
df['City'] = df['Location'].apply(lambda x: x.split(',')[0] if "," in x else x)
df['City'].head()

0    Santa Clara
1       Dearborn
2    Santa Clara
3         Newton
4         Remote
Name: City, dtype: object

In [584]:
df['State'] = df['Location'].apply(lambda x: x.split(',')[1] if "," in x else x)
df['State'].head()

0        CA
1        MI
2        CA
3        MS
4    Remote
Name: State, dtype: object

In [585]:
# Cleanup
del df['Location']

#### 7. Add job title seniority

In [586]:
df['Job_title'].unique()

array(['Data Engineer', 'Data Engineer - Terraform',
       'Snowflake Data Engineer', 'Data Engineer (MDM)',
       'AWS Data Engineer', 'DATA ENGINEER', 'Big Data Engineer',
       'Sr. Data Engineer', 'Data Engineer - Flink', 'Jr. Data Engineer',
       'Data Engineer - Remote', 'Data Engineer (L5)',
       'Software Data Engineer', 'GCP Data Engineer',
       'Senior Data Engineer', 'Azure Cloud Data Engineer',
       'GCP DATA ENGINEER', 'Data Test Engineer', 'Azure Data Engineer',
       'Senior Azure Data Bricks Engineer', 'Data Analytics Engineer',
       'Data Engineer (W2 and onsite)', 'Senior Big Data Engineer',
       'Data Engineer- Google Cloud',
       'Data Engineer (ETL & System Administration concentration)',
       'Data Engineer/Data Analyst', 'Data Engineer/Data Scientist',
       'ETL Data Engineer', 'Lead Data Engineer',
       'Sr. Data Engineer with Snowflake', 'Junior Data Engineer',
       'Senior Data Engineer - Remote', 'Data Engineer Level 3',
       'Cloud Data Engineer (Azure)', 'Senior Software Engineer, Data',
       'Technical Support Engineer (L5) - Data Platform, Big Data / Analytics',
       'Full Stack Data Engineer', 'Data Engineer IC4 - US ONLY',
       'Data Engineer I',
       'Senior Health Data and Interoperability Engineer',
       'Azure Data Warehouse Engineer', 'Data Logging Engineer',
       'ETL Engineer/ Data Analyst - Software Engineer III',
       'Software Engineer III (AI, Data, Python)',
       'Software/GCP Data Engineer (W2 only)', 'Software Engineer (Data)',
       'Junior Big Data Engineer - C11', 'Anaplan Data Engineer',
       'Data Software Engineer',
       'Data Engineer (ETL & Data Catalogue Support)',
       'Data Scientist / Data Engineer',
       'Big Data Sytems Engineer(Hadoop)',
       'Data Engineer - Need locals to CA', 'Data Engineer (ETL)',
       'Python Data Engineer', 'Data engineer',
       'Data Engineer - SnowFlake, Azure Data, Terraform',
       'Senior Data Engineer [ Remote ]',
       'Senior Data Engineer, Analytics', 'Cloud Data Engineer',
       'Software Engineer, Data', 'Data Engineer 925',
       'Senior Azure Data Engineer', 'Data Engineer ETL',
       'Big Data Engineer, Senior'], dtype=object)

In [587]:
def get_seniority(job_title:str):

    seniority = {
        'Junior' : ["Jr.", "Junior"],
        'Mid' : ["Mid", "Middle"],
        'Senior': ["Sr.", "Senior"],
        'Lead': "Lead",
        'Principle' : "Principle"
    }
    
    if seniority['Junior'][0] in job_title or seniority['Junior'][1] in job_title :
        return "Junior"
    elif seniority['Mid'][0] in job_title or seniority['Mid'][1] in job_title :
        return "Mid"
    elif seniority['Senior'][0] in job_title or seniority['Senior'][1] in job_title :
        return "Senior"
    elif seniority['Lead'] in job_title:
        return "Lead"
    elif seniority['Principle'] in job_title:
        return "Principle"
    else:
        return np.nan
    
df['Seniority'] = df['Job_title'].apply(get_seniority)

del get_seniority

df['Seniority'].value_counts()

Senior    45
Junior     4
Lead       4
Name: Seniority, dtype: int64

Add non-standard seniority

In [588]:
def apply_seniority_level(df, job_title, company_name, seniority_level):
    df['Seniority'] = df.apply(
        lambda row: seniority_level if row['Job_title'] == job_title and row['Company_name'] == company_name else row['Seniority'],
        axis=1
    )

apply_seniority_level(df, "Data Engineer (L5)", "Netflix", "Senior")
apply_seniority_level(df, "Technical Support Engineer (L5) - Data Platform, Big Data / Analytics", "Netflix", "Senior")
apply_seniority_level(df, "Data Engineer Level 3", "Infoorigin Inc", "Mid")
apply_seniority_level(df, "Data Engineer IC4 - US ONLY", "Braintrust", "Lead")
apply_seniority_level(df, "ETL Engineer/ Data Analyst - Software Engineer III", "JPMorgan Chase Bank, N.A.", "Senior")
apply_seniority_level(df, "Software Engineer III (AI, Data, Python)", "JPMorgan Chase Bank, N.A.", "Senior")
apply_seniority_level(df, "Data Engineer 925", "Certec Consulting", "Senior")

del apply_seniority_level

df['Seniority'].value_counts()

Senior    50
Lead       5
Junior     4
Mid        1
Name: Seniority, dtype: int64

#### 8. Parse salary

##### 8.1 Employer provided salary

In [589]:
df['Salary_employer_provided'] = df['Salary'].apply(lambda salary : True if isinstance(salary, str) and "Employer Provided Salary" in salary else False)
df['Salary_employer_provided'].value_counts()

True     128
False     92
Name: Salary_employer_provided, dtype: int64

#### 8.2 Salary per hour

In [590]:
df['Salary_hourly'] = df['Salary'].apply(lambda salary : True if isinstance(salary, str) and "Per Hour" in salary else False)
df['Salary_hourly'].value_counts()

False    139
True      81
Name: Salary_hourly, dtype: int64

#### 8.3 Salary min

In [591]:
def get_salary_min(salary):

    if isinstance(salary, str):

        pattern_salary = r"(\d+(\.\d+)?K?)"
        match_min: str = re.findall(pattern_salary, salary)[0][0]

        if "K" in match_min:
            match_min = float(match_min.replace("K", ""))
            match_min *= 1000

        return float(match_min)

    else:

        return salary
    
def calculate_yearly_income(hourly_rate):

    hours_per_week = 40
    WEEKS_PER_YEAR = 52
    HOURS_PER_YEAR = WEEKS_PER_YEAR * hours_per_week
    gross_income = hourly_rate * HOURS_PER_YEAR
    return gross_income

df['Salary_min'] = df['Salary'].apply(get_salary_min)
df['Salary_min'] = df.apply(
        lambda row: calculate_yearly_income(row['Salary_min']) if row['Salary_hourly'] == True else row['Salary_min'],
        axis=1
    )

del get_salary_min

df['Salary_min']

0      141440.0
1       63000.0
2      187200.0
3       83200.0
4      135200.0
         ...
624         NaN
755         NaN
778     81000.0
825    120640.0
895         NaN
Name: Salary_min, Length: 220, dtype: float64

#### 8.4 Salary max

In [592]:
def get_salary_max(salary):

    if isinstance(salary, str):

        pattern_salary = r"(\d+(\.\d+)?K?)"
        match_max: str = re.findall(pattern_salary, salary)[-1][0]

        if "K" in match_max:
            match_max = float(match_max.replace("K", ""))
            match_max *= 1000

        return float(match_max)

    else:

        return salary

df['Salary_max'] = df['Salary'].apply(get_salary_max)
df['Salary_max'] = df.apply(
        lambda row: calculate_yearly_income(row['Salary_max']) if row['Salary_hourly'] == True else row['Salary_max'],
        axis=1
    )

del get_salary_max

df['Salary_max']

0      141440.0
1       90000.0
2      197600.0
3       93600.0
4      145600.0
         ...
624         NaN
755         NaN
778    115000.0
825    131040.0
895         NaN
Name: Salary_max, Length: 220, dtype: float64

In [593]:
# Cleanup

del calculate_yearly_income

#### 8.5 Salary currency

In [594]:
def get_currency(salary: str):

    if isinstance(salary, str):

        pattern_currency = r"(.+?(?=\d))"

        if "Employer Provided Salary" in salary:
            pattern_currency = r"(\:.+?(?=\d))"

        matched = re.search(pattern_currency, salary)

        currency = matched.group(1).strip().replace(":", "")

        return currency

    else:

        return salary
    
df['Salary_currency'] = df['Salary'].apply(get_currency)
    
del get_currency
    
df['Salary_currency'].value_counts()

$    199
Name: Salary_currency, dtype: int64

In [595]:
del df['Salary']

#### 8.6 Salary average

In [596]:
df['Salary_avg'] = (df['Salary_max']+df['Salary_min'])/2
df['Salary_avg']

0      141440.0
1       76500.0
2      192400.0
3       88400.0
4      140400.0
         ...
624         NaN
755         NaN
778     98000.0
825    125840.0
895         NaN
Name: Salary_avg, Length: 220, dtype: float64

#### 9. Employees

In [597]:
df['Employees'].value_counts()

1 to 50          56
51 to 200        50
10000+           23
1001 to 5000     20
201 to 500       15
501 to 1000      10
5001 to 10000     4
Name: Employees, dtype: int64

#### 10. Type of ownership

In [598]:
df['Type_of_ownership'].value_counts()

Company - Private                 119
Company - Public                   57
Nonprofit Organization              7
Contract                            5
Subsidiary or Business Segment      4
Self-employed                       2
Private Practice / Firm             2
Name: Type_of_ownership, dtype: int64

#### 11. Sector

In [599]:
df['Sector'].value_counts()

Information Technology                         77
Financial Services                             16
Human Resources & Staffing                      7
Management & Consulting                         7
Insurance                                       5
Manufacturing                                   5
Education                                       4
Healthcare                                      4
Energy, Mining & Utilities                      4
Media & Communication                           3
Pharmaceutical & Biotechnology                  3
Retail & Wholesale                              2
Nonprofit & NGO                                 1
Agriculture                                     1
Transportation & Logistics                      1
Arts, Entertainment & Recreation                1
Personal Consumer Services                      1
Aerospace & Defense                             1
Construction, Repair & Maintenance Services     1
Name: Sector, dtype: int64

#### 12. Industry

In [600]:
df['Industry'].value_counts()

Information Technology Support Services    49
Computer Hardware Development              10
Enterprise Software & Network Solutions     9
Business Consulting                         7
Banking & Lending                           6
Internet & Web Services                     6
Investment & Asset Management               5
Insurance Carriers                          5
HR Consulting                               5
Health Care Services & Hospitals            4
Energy & Utilities                          4
Financial Transaction Processing            3
Software Development                        3
Biotech & Pharmaceuticals                   3
Education & Training Services               3
Accounting & Tax                            2
Advertising & Public Relations              2
Staffing & Subcontracting                   2
Commercial Printing                         2
Wholesale                                   1
Construction                                1
Aerospace & Defense                         1
Beauty & Wellness                           1
Sports & Recreation                         1
Consumer Product Manufacturing              1
Video Game Publishing                       1
Car & Truck Rental                          1
Food & Beverage Manufacturing               1
Crop Production                             1
Civic & Social Services                     1
Automotive Parts & Accessories Stores       1
Primary & Secondary Schools                 1
Machinery Manufacturing                     1
Name: Industry, dtype: int64

#### 13. Company age

In [601]:
import datetime

year = datetime.date.today().year

df['Company_age'] = df['Founded'].apply(lambda x: x if np.isnan(x) else int(year - x))
df['Company_age'] = df['Company_age']

del df['Founded'], year

df['Company_age'].value_counts()

16.0     8
15.0     8
8.0      7
10.0     6
5.0      5
39.0     5
9.0      5
7.0      5
24.0     5
27.0     4
12.0     4
19.0     4
20.0     4
4.0      3
17.0     3
25.0     3
85.0     3
26.0     3
6.0      2
11.0     2
224.0    2
14.0     2
18.0     2
41.0     2
13.0     2
53.0     1
239.0    1
76.0     1
160.0    1
50.0     1
122.0    1
47.0     1
35.0     1
81.0     1
22.0     1
128.0    1
211.0    1
170.0    1
23.0     1
171.0    1
158.0    1
52.0     1
97.0     1
89.0     1
54.0     1
77.0     1
37.0     1
28.0     1
106.0    1
173.0    1
29.0     1
3.0      1
Name: Company_age, dtype: int64

#### 14. Job age

In [602]:
np.sort(df['Job_age'].unique())

array(['10d', '11d', '12d', '13d', '14d', '16d', '17d', '18d', '19d',
       '20d', '22d', '24d', '24h', '25d', '26d', '28d', '2d', '30d+',
       '3d', '4d', '5d', '6d', '7d', '9d'], dtype=object)

In [603]:
def clean_job_age(job_age):

    if job_age == "24h":
        job_age = "1d"
    elif job_age == "30d+":
        job_age = "31d"

    return int(job_age.replace("d", ""))

df['Job_age'] = df['Job_age'].apply(clean_job_age)

del clean_job_age
df['Job_age'].value_counts()

31    91
1     18
3     14
12    14
6     13
13     9
2      9
5      8
4      7
18     6
10     5
24     4
17     4
20     3
19     2
9      2
7      2
25     2
14     2
16     1
28     1
11     1
22     1
26     1
Name: Job_age, dtype: int64

#### 15. Revenue

In [604]:
df['Revenue_USD'].value_counts()

$5 to $25 million             23
$10+ billion                  17
$25 to $100 million           16
$1 to $5 million              15
Less than $1 million           9
$100 to $500 million           8
$1 to $5 billion               7
$5 to $10 billion              5
$500 million to $1 billion     4
Name: Revenue_USD, dtype: int64

#### 16. Fin preview

In [605]:
df.dtypes

Company_name                 object
Rating                      float64
Job_title                    object
Description                  object
Job_age                       int64
Easy_apply                     bool
Employees                    object
Type_of_ownership            object
Sector                       object
Industry                     object
Revenue_USD                  object
Friend_recommend            float64
CEO_approval                float64
Career_opportunities        float64
Comp_&_benefits             float64
Culture_&_values            float64
Senior_management           float64
Work/Life_balance           float64
Pros                         object
Cons                         object
Benefits_rating             float64
Benefits_reviews             object
City                         object
State                        object
Seniority                    object
Salary_employer_provided       bool
Salary_hourly                  bool
Salary_min                  float64
Salary_max                  float64
Salary_currency              object
Salary_avg                  float64
Company_age                 float64
dtype: object

#### 17. Change the order to more comfy

17.1 move salary values

In [606]:
def move_column__to_index(column_name: str, index: int):
    df.insert(index, column_name, df.pop(column_name))


def move_columns_to_index(column_names: list[str], index: int):
    for col in column_names:
        df.insert(index, col, df.pop(col))
        index += 1

move_columns_to_index([
    'Salary_min', 
    'Salary_max', 
    'Salary_avg', 
    'Salary_currency',
    'Salary_employer_provided', 
    'Salary_hourly'
    ], 3
    )

df.dtypes

Company_name                 object
Rating                      float64
Job_title                    object
Salary_min                  float64
Salary_max                  float64
Salary_avg                  float64
Salary_currency              object
Salary_employer_provided       bool
Salary_hourly                  bool
Description                  object
Job_age                       int64
Easy_apply                     bool
Employees                    object
Type_of_ownership            object
Sector                       object
Industry                     object
Revenue_USD                  object
Friend_recommend            float64
CEO_approval                float64
Career_opportunities        float64
Comp_&_benefits             float64
Culture_&_values            float64
Senior_management           float64
Work/Life_balance           float64
Pros                         object
Cons                         object
Benefits_rating             float64
Benefits_reviews             object
City                         object
State                        object
Seniority                    object
Company_age                 float64
dtype: object

17.2 Move Seniority

In [607]:
move_column__to_index('Seniority', 3)
df.dtypes

Company_name                 object
Rating                      float64
Job_title                    object
Seniority                    object
Salary_min                  float64
Salary_max                  float64
Salary_avg                  float64
Salary_currency              object
Salary_employer_provided       bool
Salary_hourly                  bool
Description                  object
Job_age                       int64
Easy_apply                     bool
Employees                    object
Type_of_ownership            object
Sector                       object
Industry                     object
Revenue_USD                  object
Friend_recommend            float64
CEO_approval                float64
Career_opportunities        float64
Comp_&_benefits             float64
Culture_&_values            float64
Senior_management           float64
Work/Life_balance           float64
Pros                         object
Cons                         object
Benefits_rating             float64
Benefits_reviews             object
City                         object
State                        object
Company_age                 float64
dtype: object

17.3 Move City, State

In [608]:
move_columns_to_index(['City', 'State'], 11)
df.dtypes

Company_name                 object
Rating                      float64
Job_title                    object
Seniority                    object
Salary_min                  float64
Salary_max                  float64
Salary_avg                  float64
Salary_currency              object
Salary_employer_provided       bool
Salary_hourly                  bool
Description                  object
City                         object
State                        object
Job_age                       int64
Easy_apply                     bool
Employees                    object
Type_of_ownership            object
Sector                       object
Industry                     object
Revenue_USD                  object
Friend_recommend            float64
CEO_approval                float64
Career_opportunities        float64
Comp_&_benefits             float64
Culture_&_values            float64
Senior_management           float64
Work/Life_balance           float64
Pros                         object
Cons                         object
Benefits_rating             float64
Benefits_reviews             object
Company_age                 float64
dtype: object

17.4 Move Company age

In [609]:
move_column__to_index('Company_age', 19)
df.dtypes

Company_name                 object
Rating                      float64
Job_title                    object
Seniority                    object
Salary_min                  float64
Salary_max                  float64
Salary_avg                  float64
Salary_currency              object
Salary_employer_provided       bool
Salary_hourly                  bool
Description                  object
City                         object
State                        object
Job_age                       int64
Easy_apply                     bool
Employees                    object
Type_of_ownership            object
Sector                       object
Industry                     object
Company_age                 float64
Revenue_USD                  object
Friend_recommend            float64
CEO_approval                float64
Career_opportunities        float64
Comp_&_benefits             float64
Culture_&_values            float64
Senior_management           float64
Work/Life_balance           float64
Pros                         object
Cons                         object
Benefits_rating             float64
Benefits_reviews             object
dtype: object

17.5 Move Work/Life_balance

In [610]:
move_columns_to_index(['Senior_management', 'Work/Life_balance'], 25)
df.dtypes

Company_name                 object
Rating                      float64
Job_title                    object
Seniority                    object
Salary_min                  float64
Salary_max                  float64
Salary_avg                  float64
Salary_currency              object
Salary_employer_provided       bool
Salary_hourly                  bool
Description                  object
City                         object
State                        object
Job_age                       int64
Easy_apply                     bool
Employees                    object
Type_of_ownership            object
Sector                       object
Industry                     object
Company_age                 float64
Revenue_USD                  object
Friend_recommend            float64
CEO_approval                float64
Career_opportunities        float64
Comp_&_benefits             float64
Senior_management           float64
Work/Life_balance           float64
Culture_&_values            float64
Pros                         object
Cons                         object
Benefits_rating             float64
Benefits_reviews             object
dtype: object

#### 18. Technology requirements

In [ ]:
# todo